body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #ffffff;
	background: #2b2a27 url(../images/oval_office_body_bg.jpg) repeat-x;
}
		
a:link, a:visited { color: #dcc673; text-decoration: none; font-weight: normal;} 
a:active, a:hover { color: #FFFF00; text-decoration: underline;}

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.divider {
	clear: both;
	padding-bottom: 15px;
	margin-bottom: 30px;
	background: url(../images/oval_office_horizontal_divider.jpg) bottom repeat-x;
}

.fl { float: left; }
.fr { float: right; }

.m_right { margin-right: 30px; }

.button_01 a {
	display: block;
	width: 120px;
	height: 22px;
	padding: 4px 0 0 0;
	background: url(../images/oval_office_button_01.jpg) repeat-x;

	color: #dcc673;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button_01 a:hover {
	color: #999999;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: normal;
}

h3 {
	margin: 0 0 10px 0;
	padding: 2px 0 15px 0;
	font-size: 26px;
	font-weight: normal;
	color: #f5d96c;	
}

h4 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}

h5 {
	display: block;
	margin: 0;
	padding: 10px 0px;
	width: 280px;
	height: 45px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 2px;
	background: url(../images/oval_office_footer_box_top.jpg) no-repeat;
}

.image_wrapper {
	border: 1px solid #ffffff;
	margin-top: 3px;
	margin-bottom: 5px;
}

.fl_image{
	float: left;
	margin-right: 15px 
}

.fr_image{
	float: right;
	margin-left: 15px 
}


.list_01 {
	margin: 0 0 20px 40px;
	padding: 0px;
}

.list_01 li {
	margin: 0px;
	padding: 0 0 10px 0;
	list-style-image: url(../images/oval_office_list_icon_01.jpg);
}

.list_01 li a {
	color: #ffffff;
}


#oval_office_container {
	width: 980px;
	margin: 0 auto;
}

/* site title bar */

#oval_office_site_title_bar {
	width: 960px;
	height: 120px;
	padding: 0 10px;
	background: url(../images/oval_office_top_bar.jpg) no-repeat;
}

#oval_office_site_title_bar  #site_title {
	float: left;
	width: 300px;
	margin-left: 95px;
	padding: 50px 0 0 0;
	text-align: center;
}

#site_title h1 a{
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	color: #b3a46a;
	font-weight: normal;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: normal;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #8a7c65;
}

#oval_office_site_title_bar #top_menu {
	float:right;
	width: 124px;
	margin: 50px 30px 0 0;
	padding: 0px;
}

#top_menu .home_menu a{
	float: left;
	display: block;
	width: 48px;
	height: 52px;
	margin-right: 20px;
	background: url(../images/home_icon.png) no-repeat;
}

#top_menu .contact_us a{
	float: left;
	display: block;
	width: 49px;
	height: 52px;
	background: url(../images/contact_icon.png) bottom no-repeat;
}



/* end of site title bar */

/* banner */

#oval_office_banner_bar {
	clear: both;
	width: 840px;
	height: 140px;
	padding: 60px 70px 30px 70px;
	text-align: center;
	background: url(../images/oval_office_banner_bg.jpg) no-repeat;
}

#oval_office_banner_bar h2{
	color: #ffffff;
	margin-bottom: 30px;
}

#oval_office_banner_bar p {
	font-size: 16px;
	margin-bottom: 30px;
}

/* end of banner */

/* menu */

#oval_office_menu {
	clear: both;
	width: 960px;
	height: 56px;
	padding: 0 10px;
	background: url(../images/oval_office_menu_bg.jpg) no-repeat;
}

#oval_office_menu ul {
	width: 600px;
	overflow:visible;
	padding: 0px;
	margin: 0px auto;
	list-style: none;
}

#oval_office_menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#oval_office_menu ul li a{
	float: left;
	display: block;
	height: 24px;
	width: 100px;
	padding: 16px 0 0 0;
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #9a9789;	
	background: url(../images/oval_office_menu_right.jpg) right top no-repeat;
	outline: none;
}

#oval_office_menu li a:hover, #oval_office_menu li .current{
	color: #ffffff;
}

/* end of menu */

/* content */

#oval_office_content_wrapper {
	clear: both;
	width: 960px;
	padding: 0 10px;
	background: url(../images/oval_office_content_bg.jpg) repeat-y;
}

#oval_office_content_wrapper #oval_office_content {
	width: 900px;
	padding: 30px;
	background: url(../images/oval_office_content_gradient_bg.jpg) top center no-repeat;
}

#side_column {
	float: right;
	width: 250px;
	padding: 0 0 0 30px;
}

#main_column {
	float: left;
	width: 590px;
}

#main_column p {
	text-align: justify;
	margin-bottom: 10px;
}

.side_column_box {
	clear: both;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.news_section {
	clear: both;
	margin-bottom: 20px;
}

.inputfield {
	height: 16px;
	width: 238px;
	padding: 2px 5px;
	margin: 0 0 10px 0;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}

.submitbutton{
	float: right;
	margin: 0px;
	padding: 0 6px 3px 6px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
}

.section_w590 {
	clear: both;
	width: 590px; 
}

.section_280 {
	float: left;
	width: 250px;
	padding: 0 30px 0 0;
}

/* table */
#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 900px;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight:bold;
        
	padding: 8px;
	background:black;
	border-top: 4px solid #3a3539;
	border-bottom: 1px solid #fff;
	color:white;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background:#b2a36a;
	color: #339;
}
/* end of table */

.footer_box {
	position: relative;
	float: left;
	width: 280px;
	padding-bottom: 12px;
	background: #3a3935;
}

.footer_bottom {
	position: absolute;
	width: 280px;
	height: 12px;
	bottom: 0px;
	left: 0px;
	background: url(../images/oval_office_footer_box_bottom.jpg) no-repeat;
}

.footer_box .footer_box_content {
	padding: 0 20px 30px 20px;
}

.footer_box_content p {
	margin-bottom: 10px;
}
/* end of content */
/* footer */

#oval_office_footer_bar_wrapper {
	clear: both;
	width: 960px;
	padding: 0 10px;
	background: url(../images/oval_office_content_bg.jpg) repeat-y;
}

#oval_office_footer_bar {
	width: 900px;
	padding: 15px 30px;
	border-top: 1px solid #9c9065;
	background: #232220;
	text-align: center;
}
/* end of footer */

#apDiv1 {
	position:absolute;
	width:900px;
	height:33px;
	z-index:1;
        left:305px;
	top: 359px;
}